$primary: rgb(90,100,100);
$secondary: rgb(129, 172, 172);
$third: rgb(31, 44, 44);
$white: rgb(255,255,255);

.login-screen {
    height: 100%;
    width: 100%;
    padding: 1%;
    background-color: $primary;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-input {
    border-radius: 100px;
    border: 1px solid $white;
    width: 100%;
    text-align: center;
    padding: 1%;
    margin-bottom: 10px;
}

.login-signup{
    padding: 2%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    width: 100%;
    margin-bottom: 50px;
}
